#cabecera {
    height: 80px;

    padding-bottom: 5px;
    color: #ddd;
    margin-bottom: 20px;
    background-color: rgb(26, 26, 80);
    border:2px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;
    margin-top:10px;
}

#cabecera .container {
    width: 1004px;
}

.logocabecero {
    height: 7%;
    width: 7%;
    float: left;
}

.linkscabecero {
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    margin: 2%;
    }



