.container {
    text-align: center;
    margin-top: 5%;
}

body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#results {
    
}

#questions {
    
}