body {
background-image: url(../Imagenes/fondopag.webp);
background-repeat: no-repeat;
background-size: cover;
height: 100%;
width: 100%;
}

a {
font-size: 25px;
color: white;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}