    body { /* BODY */
    background-color: rgb(37, 37, 104);
    }
    
    .cabecera { /* CABECERA (BARRA) */
    height: 8%;
    width: 98%;
    background-color: rgb(26, 26, 80);
    text-align: center;
    padding: 5px;
    position: fixed;
    border:2px solid rgb(255, 255, 255);
    border-radius: 5px;
    }

    .linkscabecero { /* Links de la CABECERA */
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin: 2%;
    }
        
    .linkscabecero:hover { /* :hover links de la CABECERA */
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    }
    
    .logocabecero { /* Logo de la CABECERA */
    height: 120%;
    float: left;
    }

    .cuerpo { /* CUERPO */
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    }

    .cajitasCuerpo {
    margin: 1%;
    padding-left: 5%;
    margin-top: 8%;
    }

    img {
    height: auto;
    width: auto;
    }

    .textoCartelera {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: white;
    }
