    body { /* BODY */
    background-color: rgb(37, 37, 104);
    }
    
    .cabecera { /* CABECERA (BARRA) */
    height: 8%;
    width: 98%;
    background-color: rgb(26, 26, 80);
    text-align: center;
    padding: 5px;
    position: fixed;
    border:2px solid rgb(255, 255, 255);
    border-radius: 5px;
    }

    .linkscabecero { /* Links de la CABECERA */
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin: 2%;
    }
        
    .linkscabecero:hover { /* :hover links de la CABECERA */
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    }
    
    .logocabecero { /* Logo de la CABECERA */
    height: 120%;
    float: left;
    }

    .cuerpo { /* CUERPO */  /* flexbox padre */
    /*display: flex;*/
    /*flex-flow: row;*/
    /*align-items: stretch;*/
    /*flex-wrap: wrap;*/
    height: 100%;
    width: 100%;
    margin: auto;
    }

    table {
    width: 100%;
    height: 100%;
    padding-top: 10%;
    }

    td {
    width: 50%;
    height: 100%;
    }

    .mandalorian {
    height: 100%;
    width: 50%;
    padding-left: 25%;
    }

    .titulo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: rgb(255, 255, 255);
    }

    .descripccion {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: center;
    }


