body{
	width: 100%;
	height: 100%;
	background: #03001c;
	position: relative;
	font-family: 'Roboto', sans-serif;
}

.navbar{
	width: 100%;
	height: 90px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	padding: 0 4%;
	background-color: #03001c;
	/*NO CARGA LA IMAGEN PERO LA RUTA ESTA OK*/
	/* background-image: url(assets/img/home/menu_background.jpg) !important; */
	display: flex;
	align-items: center;
}

.brand-logo{
	height: 70px;
}

.nav-links{
	margin-left: 3%;
	margin-top: 10px;
	display: flex;
	list-style: none;
}

.nav-items a{
	margin-left: 20px;
	color: #ffffff;
}

.contenedor_LOGIN {
	display: block;
	margin-left: auto;
}

.sub-btn{
	background: #37e1ff;
	height: 38px;
	padding: 0 20px;
	color: rgb(0, 0, 0);
	border-radius: 5px;
	border: none;
	outline: none;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	margin: 0 10px;
}

.sub-btn:hover{
	font-size: 15px;
}

.carousel-container{
	position: relative;
	width: 100%;
	height: 450px;
	padding: 20px 0;
	overflow-x: hidden;
	margin-top: 80px;
}

.carousel{
	display: flex;
	width: 92%;
	height: 100%;
	position: relative;
	margin: auto;	
}

.slider{
	flex: 0 0 auto;
	margin-right: 30px;
	position: relative;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	width: 100%;
	height: 100%;
	left: 0;
	transition: 1s;
	overflow: hidden;
}

.slider img{
	width: 70%;
	min-height: 100%;
	object-fit: cover;
	display: block;
	margin-left: auto;
}

.slide-content{
	position: absolute;
	width: 50%;
	height: 100%;
	z-index: 2;
	background: linear-gradient(to right, #030b17 80%, #0c111b00);
	color: #ffffff;
}
/* Título de las películas (slider) */
.movie-title{
	padding-left: 50px;
	text-transform: capitalize;
	margin-top: 80px;
}
/* Descripción de las películas (slider) */
.movie-des{
	width: 80%;
	line-height: 30px;
	padding-left: 50px;
	margin-top: 30px;
	opacity: 0.8;
}

.video-card-container{
	position: relative;
	width: 92%;
	margin: auto;
	height: 10vw;
	display: flex;
	margin-bottom: 20px;
	justify-content: space-between;
}

.video-card{
	position: relative;
	min-width: calc(100%/5  -10px);
	width: calc(100%/5 - 10px);
	height: 100%;
	border-radius: 5px;
	overflow: hidden;
	background: #030b17;
}

.video-card-image,
.card-video{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-video{
	position: absolute;
}

.video-card:hover .video-card-image{
	display: none;
}

.logo img {
width: 30%;
height: 13%;
margin-left: 32%;
margin-top: 8%;
}

.links:hover {
color: rgb(0, 0, 0);
background-color: rgb(255, 255, 255);
}

.contenido1 {
width: 100%;
padding-top: 4%;
padding-left: 23%;
}

.texto_introduccion {
font-size: 45px;
color: rgb(255, 255, 255);
padding-left: 27%;
padding-top: 3%;
}

.foto_introduccion {
width: 70%;
height: 90%;
}

.contenido2 {
padding-left: 27%;
padding-top: 2%;
}

#textoC2 {
font-size: 35px;
color: rgb(255, 255, 255);
}

ul {
padding-left: 35px;
}

li {
font-size: 20px;
color: rgb(255, 255, 255);
margin: 12px;
}

.formulario{
height: 80%;
width: 88%;
margin-left: 6%;
}

.formulariodisney {
height: 30%;
width: 29%;
padding: 25px;
border-radius: 9%;
margin-left: 32%;
margin-top: 2%;
background: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a18cd1));
background: -webkit-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
background: -moz-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
background: -o-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);
}
	
.suscribete {
padding-left: 14%;
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 30px;
}
	
.linksformulario {
color: rgb(0, 0, 0);
font-size: 15px;
font-family: unset;
margin: 15px;
}
			
.linksformulario:hover {
color: rgb(0, 0, 0);
background-color: rgb(255, 255, 255);
}

.temporizador {
visibility: hidden;
}

hr {
margin-top: 4%;
height: 7px;
background-color: rgb(255, 255, 255);
}

.boton_enviar{
margin-top: 3%;
margin-left: 41%;
}

.checkbox_cookies{
margin-top: 3%;
margin-left: 6%;
}

.fotofinal{
	margin-top: 43%;
}